<!DOCTYPE html>
<html>
<head>
    <title>AITunes</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>
    <h1 class="home-header">AITunes</h1>
    {{{body}}}
</body>

</html>