<p class="about-colors">
    Hello there, this page is about colors. It let's you input three colors in red,
    green and blue and generates a color pallete depending on how many you have chosen
    to display.
</p>