<div class="jumbotron">
    <p class="about-colors lead">
        Hello there, this page is about colors. It let's you input three colors in red,
        green and blue and generates a color pallete depending on how many you have chosen. This
        app is built using a popular nodejs framework called Express. Many of the stylings on this app
        is made using a css framework called Bootsrap(the latest version).
    </p>
</div>