<!DOCTYPE html>
<html>
<head>
    <title>#HEXcuse Me!</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>
<h1 class="home-header">#HEXcuse Me!</h1>
<nav>
    <a href="/colors">Generate Color Pallete</a>
    <a href="/about">About</a>
</nav>
{{{body}}}
</body>

</html>