.home-header {
    text-align: center;
}

.nav-item > a {
    font-size: 1.5em;
}

.form-container {
    margin-left: 10em;
    margin-right: 10em;
}

.input-box {
    text-align: center;
    width: 20em;
}

.colors-container {
    text-align: center;
}

.badge {
    position: relative;
    border: 1px solid black;
}

.badge > p {
    top:50%;
}

.alert-danger {
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
}